In [22]:
# from google.colab import drive
# drive.mount('/content/drive')

import pandas as pd

구글 코랩에서 진행

### 06~23년도 csv파일 정제

기존 train 데이터(대치동의 14년도부터 21년도까지의 아파트 실거래가 데이터) + 대치동의 06년도부터 13년도까지의 아파트 실거래가 데이터 + 대치동과 인접한 4개 동(역삼동, 개포동, 일원동, 도곡동)의 06년도부터 23년도까지의 아파트 실거래가 데이터
(국도교통부 실거래가 공개시스템 (http://rtdown.molit.go.kr/) 에서 다운로드 후 전처리, 하나의 파일로 병합)

In [23]:
# 대치동 데이터 추가
for i in range(6, 14):
    # 파일 경로 설정
    file_path = f'./대치동데이터/대치{i:02}.csv'
    new_file_path_cleaned = f"./대치동데이터/train_dachi{i:02}.csv"

    # 데이터 읽어오기
    data = pd.read_csv(file_path, skiprows=15,encoding='cp949')
    train = pd.read_csv('./train.csv')

    # 열 이름 변경
    data = data.rename(columns={
        '시군구': 'sigungu',
        '번지': 'jibun',
        '단지명': 'apt_name',
        '전용면적(㎡)': 'exclusive_use_area',
        '계약년월': 'transaction_year_month',
        '계약일': 'transaction_day',
        '거래금액(만원)': 'transaction_real_price',
        '층': 'floor',
        '건축년도': 'year_of_completion'
    })

    # 필요없는 열 제거
    columns_to_drop = ['본번', '부번', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지']
    data = data.drop(columns=[col for col in columns_to_drop if col in data.columns])

    # 'id' 열 추가
    data['id'] = 'TRAIN_' + data.index.astype(str)

    # 열 순서 변경
    data = data[train.columns]

    # Save the cleaned DataFrame to a new CSV file
    data.to_csv(new_file_path_cleaned, index=False)

In [24]:
combined_data = pd.DataFrame([])

for i in range(6, 14):
    print(f'{i}년도 불러옴...')
    data = pd.read_csv(f'./대치동데이터/train_dachi{i:02}.csv')
    data['transaction_real_price'] = data['transaction_real_price'].str.replace(',', '').astype(int)
    combined_data = pd.concat([combined_data, data])

# Reset the index
data = pd.read_csv('train.csv')
combined_data = pd.concat([combined_data, data])
combined_data.reset_index(drop=True, inplace=True)

combined_data.to_csv("train_dachi.csv", index=False)

6년도 불러옴...
7년도 불러옴...
8년도 불러옴...
9년도 불러옴...
10년도 불러옴...
11년도 불러옴...
12년도 불러옴...
13년도 불러옴...

In [25]:
# 역삼동
for i in range(6, 24):
    # 데이터 읽어오기
    print(f'{i}년도 저장중...')
    if i < 10:
        data = pd.read_csv('./역삼동데이터/아파트(매매)__실거래가_200'+str(i)+'.csv', encoding='cp949')
    else:
        data = pd.read_csv('./역삼동데이터/아파트(매매)__실거래가_20'+str(i)+'.csv', encoding='cp949')
    train = pd.read_csv('train.csv')

    # 열 이름 변경
    data = data.rename(columns={
        '시군구': 'sigungu',
        '번지': 'jibun',
        '단지명': 'apt_name',
        '전용면적(㎡)': 'exclusive_use_area',
        '계약년월': 'transaction_year_month',
        '계약일': 'transaction_day',
        '거래금액(만원)': 'transaction_real_price',
        '층': 'floor',
        '건축년도': 'year_of_completion'
    })

    # 필요없는 열 제거
    data = data.drop(columns=['본번', '부번', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지'])

    # 'id' 열 추가
    data['id'] = 'TRAIN_' + data.index.astype(str)

    # 열 순서 변경
    data = data[train.columns]

    if i<10:
        new_file_path_cleaned = "./역삼동데이터/train200"+ str(i)+".csv"
    else:
        new_file_path_cleaned = "./역삼동데이터/train20"+ str(i)+".csv"
    data.to_csv(new_file_path_cleaned, index=False)

6년도 저장중...
7년도 저장중...
8년도 저장중...
9년도 저장중...
10년도 저장중...
11년도 저장중...
12년도 저장중...
13년도 저장중...
14년도 저장중...
15년도 저장중...
16년도 저장중...
17년도 저장중...
18년도 저장중...
19년도 저장중...
20년도 저장중...
21년도 저장중...
22년도 저장중...
23년도 저장중...

In [26]:
combined_data = pd.DataFrame([])

for i in range(6, 24):
    print(f'{i}년도 불러옴...')
    if i < 10:
        data = pd.read_csv('./역삼동데이터/train200'+str(i)+'.csv')
    else:
        data = pd.read_csv('./역삼동데이터/train20'+str(i)+'.csv')

    data['transaction_real_price'] = data['transaction_real_price'].str.replace(',', '').astype(int)

    combined_data = pd.concat([combined_data, data])

# Reset the index
combined_data.reset_index(drop=True, inplace=True)



combined_data.to_csv("train_yeksam.csv", index=False)

6년도 불러옴...
7년도 불러옴...
8년도 불러옴...
9년도 불러옴...
10년도 불러옴...
11년도 불러옴...
12년도 불러옴...
13년도 불러옴...
14년도 불러옴...
15년도 불러옴...
16년도 불러옴...
17년도 불러옴...
18년도 불러옴...
19년도 불러옴...
20년도 불러옴...
21년도 불러옴...
22년도 불러옴...
23년도 불러옴...

In [27]:
# 도곡동
for i in range(6, 24):
    # 데이터 읽어오기
    print(f'{i}년도 저장중...')
    if i < 10:
        data = pd.read_csv('./도곡동데이터/도곡0'+str(i)+'.csv', encoding='cp949')
    else:
        data = pd.read_csv('./도곡동데이터/도곡'+str(i)+'.csv', encoding='cp949')
    train = pd.read_csv('train.csv')

    # 열 이름 변경
    data = data.rename(columns={
        '시군구': 'sigungu',
        '번지': 'jibun',
        '단지명': 'apt_name',
        '전용면적(㎡)': 'exclusive_use_area',
        '계약년월': 'transaction_year_month',
        '계약일': 'transaction_day',
        '거래금액(만원)': 'transaction_real_price',
        '층': 'floor',
        '건축년도': 'year_of_completion'
    })

    # 필요없는 열 제거
    data = data.drop(columns=['본번', '부번', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지'])

    # 'id' 열 추가
    data['id'] = 'TRAIN_' + data.index.astype(str)

    # 열 순서 변경
    data = data[train.columns]

    if i<10:
        new_file_path_cleaned = "./도곡동데이터/train200"+ str(i)+".csv"
    else:
        new_file_path_cleaned = "./도곡동데이터/train20"+ str(i)+".csv"
    data.to_csv(new_file_path_cleaned, index=False)

6년도 저장중...
7년도 저장중...
8년도 저장중...
9년도 저장중...
10년도 저장중...
11년도 저장중...
12년도 저장중...
13년도 저장중...
14년도 저장중...
15년도 저장중...
16년도 저장중...
17년도 저장중...
18년도 저장중...
19년도 저장중...
20년도 저장중...
21년도 저장중...
22년도 저장중...
23년도 저장중...

06~23 데이터 통합

In [28]:
combined_data = pd.DataFrame([])

for i in range(6, 24):
    print(f'{i}년도 불러옴...')
    if i < 10:
        data = pd.read_csv('./도곡동데이터/train200'+str(i)+'.csv')
    else:
        data = pd.read_csv('./도곡동데이터/train20'+str(i)+'.csv')
    data['transaction_real_price'] = data['transaction_real_price'].str.replace(',', '').astype(int)
    combined_data = pd.concat([combined_data, data])

# Reset the index
combined_data.reset_index(drop=True, inplace=True)
combined_data.to_csv("train_dogok.csv", index=False)

6년도 불러옴...
7년도 불러옴...
8년도 불러옴...
9년도 불러옴...
10년도 불러옴...
11년도 불러옴...
12년도 불러옴...
13년도 불러옴...
14년도 불러옴...
15년도 불러옴...
16년도 불러옴...
17년도 불러옴...
18년도 불러옴...
19년도 불러옴...
20년도 불러옴...
21년도 불러옴...
22년도 불러옴...
23년도 불러옴...

In [29]:
# 개포동
for i in range(6, 24):
    # 데이터 읽어오기
    print(f'{i}년도 저장중...')
    if i < 10:
        data = pd.read_csv('./개포동데이터/개포 0'+str(i)+'.csv', encoding='cp949')
    else:
        data = pd.read_csv('./개포동데이터/개포 '+str(i)+'.csv', encoding='cp949')
    train = pd.read_csv('train.csv')

    # 열 이름 변경
    data = data.rename(columns={
        '시군구': 'sigungu',
        '번지': 'jibun',
        '단지명': 'apt_name',
        '전용면적(㎡)': 'exclusive_use_area',
        '계약년월': 'transaction_year_month',
        '계약일': 'transaction_day',
        '거래금액(만원)': 'transaction_real_price',
        '층': 'floor',
        '건축년도': 'year_of_completion'
    })

    # 필요없는 열 제거
    data = data.drop(columns=['본번', '부번', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지'])

    # 'id' 열 추가
    data['id'] = 'TRAIN_' + data.index.astype(str)

    # 열 순서 변경
    data = data[train.columns]

    if i<10:
        new_file_path_cleaned = "./개포동데이터/train200"+ str(i)+".csv"
    else:
        new_file_path_cleaned = "./개포동데이터/train20"+ str(i)+".csv"
    data.to_csv(new_file_path_cleaned, index=False)

6년도 저장중...
7년도 저장중...
8년도 저장중...
9년도 저장중...
10년도 저장중...
11년도 저장중...
12년도 저장중...
13년도 저장중...
14년도 저장중...
15년도 저장중...
16년도 저장중...
17년도 저장중...
18년도 저장중...
19년도 저장중...
20년도 저장중...
21년도 저장중...
22년도 저장중...
23년도 저장중...

In [30]:
combined_data = pd.DataFrame([])

for i in range(6, 24):
    print(f'{i}년도 불러옴...')
    if i < 10:
        data = pd.read_csv('./개포동데이터/train200'+str(i)+'.csv')
    else:
        data = pd.read_csv('./개포동데이터/train20'+str(i)+'.csv')
    data['transaction_real_price'] = data['transaction_real_price'].str.replace(',', '').astype(int)
    combined_data = pd.concat([combined_data, data])

# Reset the index
combined_data.reset_index(drop=True, inplace=True)
combined_data.to_csv("train_gaepo.csv", index=False)

6년도 불러옴...
7년도 불러옴...
8년도 불러옴...
9년도 불러옴...
10년도 불러옴...
11년도 불러옴...
12년도 불러옴...
13년도 불러옴...
14년도 불러옴...
15년도 불러옴...
16년도 불러옴...
17년도 불러옴...
18년도 불러옴...
19년도 불러옴...
20년도 불러옴...
21년도 불러옴...
22년도 불러옴...
23년도 불러옴...

In [31]:
# 일원동
for i in range(6, 24):
    # 데이터 읽어오기
    print(f'{i}년도 저장중...')
    if i < 10:
        data = pd.read_csv('./일원동데이터/0'+str(i)+'.csv', encoding='cp949')
    else:
        data = pd.read_csv('./일원동데이터/'+str(i)+'.csv', encoding='cp949')
    train = pd.read_csv('train.csv')

    # 열 이름 변경
    data = data.rename(columns={
        '시군구': 'sigungu',
        '번지': 'jibun',
        '단지명': 'apt_name',
        '전용면적(㎡)': 'exclusive_use_area',
        '계약년월': 'transaction_year_month',
        '계약일': 'transaction_day',
        '거래금액(만원)': 'transaction_real_price',
        '층': 'floor',
        '건축년도': 'year_of_completion'
    })

    # 필요없는 열 제거
    data = data.drop(columns=['본번', '부번', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지'])

    # 'id' 열 추가
    data['id'] = 'TRAIN_' + data.index.astype(str)

    # 열 순서 변경
    data = data[train.columns]

    if i<10:
        new_file_path_cleaned = "./일원동데이터/train200"+ str(i)+".csv"
    else:
        new_file_path_cleaned = "./일원동데이터/train20"+ str(i)+".csv"
    data.to_csv(new_file_path_cleaned, index=False)

6년도 저장중...
7년도 저장중...
8년도 저장중...
9년도 저장중...
10년도 저장중...
11년도 저장중...
12년도 저장중...
13년도 저장중...
14년도 저장중...
15년도 저장중...
16년도 저장중...
17년도 저장중...
18년도 저장중...
19년도 저장중...
20년도 저장중...
21년도 저장중...
22년도 저장중...
23년도 저장중...

In [32]:
combined_data = pd.DataFrame([])

for i in range(6, 24):
    print(f'{i}년도 불러옴...')
    if i < 10:
        data = pd.read_csv('./일원동데이터/train200'+str(i)+'.csv')
    else:
        data = pd.read_csv('./일원동데이터/train20'+str(i)+'.csv')
    data['transaction_real_price'] = data['transaction_real_price'].str.replace(',', '').astype(int)
    combined_data = pd.concat([combined_data, data])

# Reset the index
combined_data.reset_index(drop=True, inplace=True)
combined_data.to_csv("train_ilwon.csv", index=False)

6년도 불러옴...
7년도 불러옴...
8년도 불러옴...
9년도 불러옴...
10년도 불러옴...
11년도 불러옴...
12년도 불러옴...
13년도 불러옴...
14년도 불러옴...
15년도 불러옴...
16년도 불러옴...
17년도 불러옴...
18년도 불러옴...
19년도 불러옴...
20년도 불러옴...
21년도 불러옴...
22년도 불러옴...
23년도 불러옴...

대치동 데이터와 역삼,일원,개포,도곡 병합

In [33]:
df1 = pd.read_csv('./train_dachi.csv')
df2 = pd.read_csv('./train_yeksam.csv')
df3 = pd.read_csv('./train_ilwon.csv')
df4 = pd.read_csv('./train_gaepo.csv')
df5 = pd.read_csv('./train_dogok.csv')

combined_data = pd.concat([df1, df2, df3, df4, df5])

combined_data.reset_index(drop=True, inplace=True)

combined_data.to_csv("./trainall.csv", index=False)

### 위도/경도 데이터 수집, 위도/경도 feature 생성

네이버 Geocoding API (https://api.ncloud-docs.com/docs/ai-naver-mapsgeocoding-geocode) 를 활용해 지번 주소를 위도/경도로 변환

#### train/test 데이터(대치동)

In [34]:
import pandas as pd
import warnings
import dlib, cv2, os
from sklearn.preprocessing import LabelEncoder
warnings.filterwarnings('ignore')

# from google.colab import drive
# drive.mount('/content/gdrive/')

In [35]:
import dlib, cv2, os

In [36]:
# cd /content/gdrive/My Drive/Colab Notebooks/apart

In [48]:
train = pd.read_csv('train_dachi.csv')
test = pd.read_csv('test.csv')

In [38]:
from urllib import parse
from urllib.request import urlopen
from urllib.request import Request
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import json

In [39]:
# 아이디와 키를 발급받아 사용. 한달 할당량 존재
Client_ID = '3058gsr8l0'
Client_Secret = 'kKpZpuW14Y21G7GicUK8ma196iTWQX8JkOZGOXo4'
api_url = 'https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query='

In [40]:
train_dic={}
for adress in train['jibun'].value_counts().index:
    juso = "서울특별시 강남구 대치동 " + str(adress)
    add_urlenc = parse.quote(juso) # URL Encoding
    url = api_url + add_urlenc
    request = Request(url)
    request.add_header('X-NCP-APIGW-API-KEY-ID', Client_ID)
    request.add_header('X-NCP-APIGW-API-KEY', Client_Secret)

    try:
        response = urlopen(request)

    except HTTPError as e:
        print('HTTP Error')
        latitude, longitude = None, None

    else:
        rescode = response.getcode()

        if rescode == 200:
            response_body = response.read().decode('utf-8')
            response_body = json.loads(response_body)

            if response_body['addresses'] == []:
                print('No result')
            else:
                latitude = response_body['addresses'][0]['y']
                longitude = response_body['addresses'][0]['x']
                print('Success')
        else:
            print(f'Response error, rescode:{rescode}')
            latitude, longitude = None, None
    train_dic[adress]=[latitude, longitude]

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [50]:
test_dic={}
for adress in test['jibun'].value_counts().index:
    juso = "서울특별시 강남구 대치동 " + str(adress)
    add_urlenc = parse.quote(juso) # URL Encoding
    url = api_url + add_urlenc
    request = Request(url)
    request.add_header('X-NCP-APIGW-API-KEY-ID', Client_ID)
    request.add_header('X-NCP-APIGW-API-KEY', Client_Secret)

    try:
        response = urlopen(request)

    except HTTPError as e:
        print('HTTP Error')
        latitude, longitude = None, None

    else:
        rescode = response.getcode()

        if rescode == 200:
            response_body = response.read().decode('utf-8')
            response_body = json.loads(response_body)

            if response_body['addresses'] == []:
                print('No result')
            else:
                latitude = response_body['addresses'][0]['y']
                longitude = response_body['addresses'][0]['x']
                print('Success')
        else:
            print(f'Response error, rescode:{rescode}')
            latitude, longitude = None, None
    test_dic[adress]=[latitude, longitude]

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [51]:
train['lat']=0
train['lon']=0
test['lat']=0
test['lon']=0

In [52]:
for i in range(len(train)):
  key=train['jibun'][i]
  train['lat'][i]=float(train_dic[key][0])
  train['lon'][i]=float(train_dic[key][1])

In [53]:
for i in range(len(test)):
  key=test['jibun'][i]
  test['lat'][i]=float(test_dic[key][0])
  test['lon'][i]=float(test_dic[key][1])

In [54]:
train.to_csv('train_xy.csv', index=False)
test.to_csv('test_xy.csv', index=False)

#### 역삼동, 일원동, 도곡동, 개포동

In [55]:
trainall = pd.read_csv('trainall.csv')

df_yeksam = trainall[trainall['sigungu'] == '서울특별시 강남구 역삼동'] # 역삼동
df_ilwon = trainall[trainall['sigungu'] == '서울특별시 강남구 일원동'] # 일원동
df_dogok = trainall[trainall['sigungu'] == '서울특별시 강남구 도곡동'] # 도곡동
df_gaepo = trainall[trainall['sigungu'] == '서울특별시 강남구 개포동'] # 개포동

In [56]:
# 역삼동
train = df_yeksam

train_dic={}
for adress in train['jibun'].value_counts().index:
    test  = "서울특별시 강남구 역삼동 " + str(adress)
    add_urlenc = parse.quote(test) # URL Encoding
    url = api_url + add_urlenc
    request = Request(url)
    request.add_header('X-NCP-APIGW-API-KEY-ID', Client_ID)
    request.add_header('X-NCP-APIGW-API-KEY', Client_Secret)

    try:
        response = urlopen(request)

    except HTTPError as e:
        print('HTTP Error')
        latitude, longitude = None, None

    else:
        rescode = response.getcode()

        if rescode == 200:
            response_body = response.read().decode('utf-8')
            response_body = json.loads(response_body)

            if response_body['addresses'] == []:
                print('No result')
            else:
                latitude = response_body['addresses'][0]['y']
                longitude = response_body['addresses'][0]['x']
                print('Success')
        else:
            print(f'Response error, rescode:{rescode}')
            latitude, longitude = None, None
    train_dic[adress]=[latitude, longitude]

train['lat']=0
train['lon']=0
train_yeksam = train.reset_index()

for i in range(len(train_yeksam)):
  key=train_yeksam['jibun'][i]
  train_yeksam['lat'][i]=float(train_dic[key][0])
  train_yeksam['lon'][i]=float(train_dic[key][1])

#빈 데이터프레임 생성해서 결과 병합하기
DF = pd.DataFrame([])
DF = pd.concat([DF, train_yeksam])

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [57]:
# 일원동
train = df_ilwon


train_dic={}
for adress in train['jibun'].value_counts().index:
    test  = "서울특별시 강남구 일원동 " + str(adress)
    add_urlenc = parse.quote(test) # URL Encoding
    url = api_url + add_urlenc
    request = Request(url)
    request.add_header('X-NCP-APIGW-API-KEY-ID', Client_ID)
    request.add_header('X-NCP-APIGW-API-KEY', Client_Secret)

    try:
        response = urlopen(request)

    except HTTPError as e:
        print('HTTP Error')
        latitude, longitude = None, None

    else:
        rescode = response.getcode()

        if rescode == 200:
            response_body = response.read().decode('utf-8')
            response_body = json.loads(response_body)

            if response_body['addresses'] == []:
                print('No result')
            else:
                latitude = response_body['addresses'][0]['y']
                longitude = response_body['addresses'][0]['x']
                print('Success')
        else:
            print(f'Response error, rescode:{rescode}')
            latitude, longitude = None, None
    train_dic[adress]=[latitude, longitude]

train['lat']=0
train['lon']=0
train_ilwon = train.reset_index()

for i in range(len(train_ilwon)):
  key=train_ilwon['jibun'][i]
  train_ilwon['lat'][i]=float(train_dic[key][0])
  train_ilwon['lon'][i]=float(train_dic[key][1])

DF = pd.concat([DF, train_ilwon])

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [58]:
# 도곡동

train = df_dogok


train_dic={}
for adress in train['jibun'].value_counts().index:
    test  = "서울특별시 강남구 도곡동 " + str(adress)
    add_urlenc = parse.quote(test) # URL Encoding
    url = api_url + add_urlenc
    request = Request(url)
    request.add_header('X-NCP-APIGW-API-KEY-ID', Client_ID)
    request.add_header('X-NCP-APIGW-API-KEY', Client_Secret)

    try:
        response = urlopen(request)

    except HTTPError as e:
        print('HTTP Error')
        latitude, longitude = None, None

    else:
        rescode = response.getcode()

        if rescode == 200:
            response_body = response.read().decode('utf-8')
            response_body = json.loads(response_body)

            if response_body['addresses'] == []:
                print('No result')
            else:
                latitude = response_body['addresses'][0]['y']
                longitude = response_body['addresses'][0]['x']
                print('Success')
        else:
            print(f'Response error, rescode:{rescode}')
            latitude, longitude = None, None
    train_dic[adress]=[latitude, longitude]

train['lat']=0
train['lon']=0

train_dogok = train.reset_index()

for i in range(len(train_dogok)):
  key=train_dogok['jibun'][i]
  train_dogok['lat'][i]=float(train_dic[key][0])
  train_dogok['lon'][i]=float(train_dic[key][1])

DF = pd.concat([DF, train_dogok])

Success
Success
Success
No result
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [62]:
df_gaepo[df_gaepo['apt_name'] == '개포자이']

,id,sigungu,jibun,apt_name,exclusive_use_area,transaction_year_month,transaction_day,transaction_real_price,floor,year_of_completion
24618,TRAIN_41,서울특별시 강남구 개포동,12-2,개포자이,153.80,200602,9,148000,15,2004
24619,TRAIN_42,서울특별시 강남구 개포동,12-2,개포자이,153.80,200603,18,151500,12,2004
24620,TRAIN_43,서울특별시 강남구 개포동,12-2,개포자이,153.80,200603,20,149000,16,2004
24621,TRAIN_44,서울특별시 강남구 개포동,12-2,개포자이,170.32,200607,6,34000,17,2004
24622,TRAIN_45,서울특별시 강남구 개포동,12-2,개포자이,134.30,200609,8,145000,10,2004
...,...,...,...,...,...,...,...,...,...,...
37955,TRAIN_43,서울특별시 강남구 개포동,12-2,개포자이,170.32,202105,27,260000,6,2004
37956,TRAIN_44,서울특별시 강남구 개포동,12-2,개포자이,134.30,202106,16,200000,20,2004
37957,TRAIN_45,서울특별시 강남구 개포동,12-2,개포자이,134.30,202108,19,254000,1,2004
38182,TRAIN_10,서울특별시 강남구 개포동,12-2,개포자이,168.42,202202,7,246000,2,2004
38183,TRAIN_11,서울특별시 강남구 개포동,12-2,개포자이,170.32,202207,27,303000,11,2004

In [61]:
df_gaepo = df_gaepo.replace('12월 02일', '12-2')

In [63]:
# 개포

train = df_gaepo


train_dic={}
for adress in train['jibun'].value_counts().index:
    test  = "서울특별시 강남구 개포동 " + str(adress)
    add_urlenc = parse.quote(test) # URL Encoding
    url = api_url + add_urlenc
    request = Request(url)
    request.add_header('X-NCP-APIGW-API-KEY-ID', Client_ID)
    request.add_header('X-NCP-APIGW-API-KEY', Client_Secret)

    try:
        response = urlopen(request)

    except HTTPError as e:
        print('HTTP Error')
        latitude, longitude = None, None

    else:
        rescode = response.getcode()

        if rescode == 200:
            response_body = response.read().decode('utf-8')
            response_body = json.loads(response_body)

            if response_body['addresses'] == []:
                print('No result')
            else:
                latitude = response_body['addresses'][0]['y']
                longitude = response_body['addresses'][0]['x']
                print('Success')
        else:
            print(f'Response error, rescode:{rescode}')
            latitude, longitude = None, None
    train_dic[adress]=[latitude, longitude]

train['lat']=0
train['lon']=0

train_gaepo = train.reset_index()

for i in range(len(train_gaepo)):
  key=train_gaepo['jibun'][i]
  train_gaepo['lat'][i]=float(train_dic[key][0])
  train_gaepo['lon'][i]=float(train_dic[key][1])

DF = pd.concat([DF, train_gaepo])

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [64]:
train_xy = pd.read_csv('./train_xy.csv')
DF = pd.concat([DF, train_xy])
DF.to_csv('trainall_latlon.csv', index=False)

### feature 추가 생성

#### 역과의 거리/ 역과의 거리 그룹핑 feature

In [65]:
import pandas as pd
import numpy as np
import warnings
import dlib, cv2, os
from sklearn.preprocessing import LabelEncoder
warnings.filterwarnings('ignore')

# from google.colab import drive
# drive.mount('/content/gdrive/')

In [66]:
# cd /content/gdrive/My Drive/Colab Notebooks/apart

In [69]:
train = pd.read_csv('trainall_latlon.csv')
test = pd.read_csv('test_xy.csv')
interest_rate = pd.read_csv('interest_rate.csv')
station = pd.read_csv('station_coordinate.csv')

In [70]:
gn=[
'강남구청',
'강남',
'개포동',
'구룡',
'논현',
'대모산입구',
'대청',
'대치',
'도곡',
'매봉',
'봉은사',
'삼성',
'삼성중앙',
'선릉',
'선정릉',
'수서',
'신논현',
'신사',
'압구정로데오',
'압구정',
'양재',
'언주',
'역삼',
'일원',
'청담',
'학동',
'학여울',
'한티'
]

In [71]:
station_coordinate={}
for i in gn:
  if sum(station['name']==i)==1:
    lat=float(station.loc[station['name']==i]['lat'].values)
    lon=float(station.loc[station['name']==i]['lng'].values)
    station_coordinate[i]=[lat,lon]
  else:
    print(i)
#환승역 처리
station_coordinate['강남구청']=[37.517186,	127.04128]
station_coordinate['강남']=[37.497175,	127.027926]
station_coordinate['도곡']=[37.490858,127.055381]
station_coordinate['선릉']=[37.504503,	127.049008]
station_coordinate['선정릉']=[37.51098,	127.043593]
station_coordinate['수서']=[37.487371,	127.10188]
station_coordinate['양재']=[37.484147,	127.034631]
station_coordinate

강남구청
강남
도곡
선릉
선정릉
수서
양재

{'개포동': [37.489116, 127.06614],
 '구룡': [37.486839, 127.058856],
 '논현': [37.511093, 127.021415],
 '대모산입구': [37.491373, 127.07272],
 '대청': [37.493514, 127.079532],
 '대치': [37.494612, 127.063642],
 '매봉': [37.486947, 127.046769],
 '봉은사': [37.514219, 127.060245],
 '삼성': [37.508844, 127.06316],
 '삼성중앙': [37.513011, 127.053282],
 '신논현': [37.504598, 127.02506],
 '신사': [37.516334, 127.020114],
 '압구정로데오': [37.527381, 127.040534],
 '압구정': [37.527072, 127.028461],
 '언주': [37.507287, 127.033868],
 '역삼': [37.500622, 127.036456],
 '일원': [37.483681, 127.08439],
 '청담': [37.519365, 127.05335],
 '학동': [37.514229, 127.031656],
 '학여울': [37.496663, 127.070594],
 '한티': [37.496237, 127.052873],
 '강남구청': [37.517186, 127.04128],
 '강남': [37.497175, 127.027926],
 '도곡': [37.490858, 127.055381],
 '선릉': [37.504503, 127.049008],
 '선정릉': [37.51098, 127.043593],
 '수서': [37.487371, 127.10188],
 '양재': [37.484147, 127.034631]}

In [72]:
station_coordinate=pd.DataFrame(station_coordinate).T
station_coordinate.columns = ['lat', 'lon']

In [73]:
train['subway_dist']=0
test['subway_dist']=0

In [74]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.8.0-py2.py3-none-any.whl (7.7 kB)
Installing collected packages: haversine
Successfully installed haversine-2.8.0

In [75]:
from haversine import haversine
import math

In [76]:
for i in range(len(train)):
  distance=[]
  for j in range(len(station_coordinate)):
    x1=train.iloc[i]['lat']
    y1=train.iloc[i]['lon']
    x2=station_coordinate.iloc[j]['lat']
    y2=station_coordinate.iloc[j]['lon']
    start = (x1,y1)
    goal = (x2,y2)
    r=haversine(start, goal)
    distance.append(r)
  train['subway_dist'][i]=round(np.min(distance),5)

In [77]:
for i in range(len(test)):
  distance=[]
  for j in range(len(station_coordinate)):
    x1=test.iloc[i]['lat']
    y1=test.iloc[i]['lon']
    x2=station_coordinate.iloc[j]['lat']
    y2=station_coordinate.iloc[j]['lon']
    start = (x1,y1)
    goal = (x2,y2)
    r=haversine(start, goal)
    distance.append(r)
  test['subway_dist'][i]=round(np.min(distance),5)

In [78]:
def is_station_area(x):
    if x <= 0.2:   # 초 역세권
        return 3
    elif x<=0.5:   # 1차 역세권
        return 2
    elif x<=1.0:   # 2차 역세권
        return 1
    else:          # 비역세권
        return 0
train["near_subway_rank"] = train["subway_dist"].apply(lambda x: is_station_area(x))
test["near_subway_rank"] = test["subway_dist"].apply(lambda x: is_station_area(x))

#### 금리 데이터

In [79]:
def preprocess_tran_date(x):
    if type(x) == int:
        if x < 10:
            return '0'+str(x)
        else:
            return str(x)
    else:
        return x

train['transaction_day'] = train['transaction_day'].apply(preprocess_tran_date)
train['transaction_date'] = train['transaction_year_month'].astype(int).astype(str) + train['transaction_day'].astype(str)
train['transaction_date'] = pd.to_datetime(train['transaction_date'])
train = train.sort_values('transaction_day').reset_index(drop=True)

In [80]:
def make_date(row):
    month_day = row['월일'].replace('월 ', '-')
    month_day = month_day.replace('일', '')
    date = str(row['연도'])+ '-' + month_day
    return date

interest_rate['날짜'] = interest_rate.apply(lambda x: make_date(x), axis=1)
interest_rate['날짜'] = pd.to_datetime(interest_rate['날짜'])

In [81]:
from tqdm import tqdm
from datetime import datetime

In [82]:
for idx, row in tqdm(train.iterrows(), total = train.shape[0]):
    date = row['transaction_date']
    rate = interest_rate[interest_rate['날짜'] <= date].iloc[0]['금리']
    train.loc[idx, 'interest_rate'] = rate

100%|██████████| 49091/49091 [00:50<00:00, 964.93it/s]

In [83]:
test['transaction_day'] = test['transaction_day'].apply(preprocess_tran_date)
test['transaction_date'] = test['transaction_year_month'].astype(int).astype(str) + test['transaction_day'].astype(str)
test['transaction_date'] = pd.to_datetime(test['transaction_date'])
test = test.sort_values('transaction_day').reset_index(drop=True)

In [84]:
for idx, row in tqdm(test.iterrows(), total = test.shape[0]):
    date = row['transaction_date']
    rate = interest_rate[interest_rate['날짜'] <= date].iloc[0]['금리']
    test.loc[idx, 'interest_rate'] = rate

100%|██████████| 196/196 [00:00<00:00, 936.32it/s]

In [85]:
train['transaction_day']=train['transaction_day'].map(lambda x: int(x))
train = train.drop('transaction_date',axis  = 1)
test = test.drop('transaction_date',axis  = 1)

In [87]:
school_latlon = pd.read_csv('전국초중등학교위치표준데이터.csv', encoding = 'cp949')
school=school_latlon[school_latlon['교육지원청명']=='서울특별시강남서초교육지원청']

In [88]:
train['school_dist']=0
test['school_dist']=0

In [89]:
for i in range(len(train)):
  distance=[]
  for j in range(len(school)):
    x1=train.iloc[i]['lat']
    y1=train.iloc[i]['lon']
    x2=school.iloc[j]['위도']
    y2=school.iloc[j]['경도']
    start = (x1,y1)
    goal = (x2,y2)
    r=haversine(start, goal)
    distance.append(r)
  train['school_dist'][i]=round(np.min(distance),5)

In [90]:
for i in range(len(test)):
  distance=[]
  for j in range(len(school)):
    x1=test.iloc[i]['lat']
    y1=test.iloc[i]['lon']
    x2=school.iloc[j]['위도']
    y2=school.iloc[j]['경도']
    start = (x1,y1)
    goal = (x2,y2)
    r=haversine(start, goal)
    distance.append(r)
  test['school_dist'][i]=round(np.min(distance),5)

In [91]:
# 학교가 가까운 정도에 따라 그룹으로 묶음
def is_school_area(x):
    if x <= 0.2:
        return 3
    elif x<=0.5:
        return 2
    elif x<=1.0:
        return 1
    else:
        return 0
train["school_rank"] = train["school_dist"].apply(lambda x: is_school_area(x))
test["school_rank"] = test["school_dist"].apply(lambda x: is_school_area(x))

#### 학군

In [92]:
hakgun_label=['서울고등학교',
'경기고등학교',
'휘문고등학교',
'중동고등학교',
'경기여자고등학교',
'숙명여자고등학교',
'풍문고등학교',
'동덕여자고등학교',
'서울세종고등학교',
'개포고등학교',
'단국대학교사범대학부속고등학교',
'대진디자인고등학교',
'반포고등학교',
'서초고등학교',
'상문고등학교',
'세화고등학교',
'세화여자고등학교',
'서문여자고등학교',
'양재고등학교',
'영동고등학교',
'은광여자고등학교',
'압구정고등학교',
'언남고등학교',
'진선여자고등학교',
'중산고등학교',
'청담고등학교',
'현대고등학교',
'중앙대학교사범대학부속고등학교'
]

In [93]:
hakgun={}
for i in hakgun_label:
  lat=float(school.loc[school['학교명']==i]['위도'].values)
  lon=float(school.loc[school['학교명']==i]['경도'].values)
  hakgun[i]=[lat,lon]
hakgun

{'서울고등학교': [37.4842930566, 127.0049018608],
 '경기고등학교': [37.5175645399, 127.0560755056],
 '휘문고등학교': [37.5052894535, 127.0619938806],
 '중동고등학교': [37.4937145896, 127.080912228],
 '경기여자고등학교': [37.4869151626, 127.0654529919],
 '숙명여자고등학교': [37.4914753613, 127.0526125827],
 '풍문고등학교': [37.47135959, 127.099963434],
 '동덕여자고등학교': [37.47583666, 126.9919950374],
 '서울세종고등학교': [37.4903893469, 127.1027968129],
 '개포고등학교': [37.48495285, 127.0594065022],
 '단국대학교사범대학부속고등학교': [37.4956174948, 127.0577682282],
 '대진디자인고등학교': [37.4904281491, 127.0959793395],
 '반포고등학교': [37.5027027335, 127.0165603],
 '서초고등학교': [37.4896116868, 127.0053782497],
 '상문고등학교': [37.4797554325, 127.0039168196],
 '세화고등학교': [37.5019964569, 126.9942300138],
 '세화여자고등학교': [37.5019964569, 126.9942300138],
 '서문여자고등학교': [37.4889197255, 126.9845457593],
 '양재고등학교': [37.4824216431, 127.0320796253],
 '영동고등학교': [37.5213890143, 127.0437392587],
 '은광여자고등학교': [37.4883785724, 127.0352323611],
 '압구정고등학교': [37.5311339475, 127.0327116407],
 '언남고등학교': [37.4723300184, 127.0430052363],
 '진선여자고등학교': [37.502302892, 127.0482865654],
 '중산고등학교': [37.4857429318, 127.0814284922],
 '청담고등학교': [37.5280030162, 127.0437002433],
 '현대고등학교': [37.5254804993, 127.0223772985],
 '중앙대학교사범대학부속고등학교': [37.4919059044, 127.0521116125]}

In [94]:
hakgun=pd.DataFrame(hakgun).T
hakgun.columns = ['lat', 'lon']

In [95]:
train['hakgun_dist']=0
test['hakgun_dist']=0

In [96]:
for i in range(len(train)):
  distance=[]
  for j in range(len(hakgun)):
    x1=train.iloc[i]['lat']
    y1=train.iloc[i]['lon']
    x2=hakgun.iloc[j]['lat']
    y2=hakgun.iloc[j]['lon']
    start = (x1,y1)
    goal = (x2,y2)
    r=haversine(start, goal)
    distance.append(r)
  train['hakgun_dist'][i]=round(np.min(distance),5)

In [97]:
for i in range(len(test)):
  distance=[]
  for j in range(len(hakgun)):
    x1=test.iloc[i]['lat']
    y1=test.iloc[i]['lon']
    x2=hakgun.iloc[j]['lat']
    y2=hakgun.iloc[j]['lon']
    start = (x1,y1)
    goal = (x2,y2)
    r=haversine(start, goal)
    distance.append(r)
  test['hakgun_dist'][i]=round(np.min(distance),5)

In [98]:
# '명문 학교'에 가까운 정도에 따라 그룹핑

def is_hakgun_area(x):
    if x <= 0.2:   # 초 역세권
        return 3
    elif x<=0.5:   # 1차 역세권
        return 2
    elif x<=1.0:   # 2차 역세권
        return 1
    else:          # 비역세권
        return 0
train["hakgun_rank"] = train["hakgun_dist"].apply(lambda x: is_hakgun_area(x))
test["hakgun_rank"] = test["hakgun_dist"].apply(lambda x: is_hakgun_area(x))

### 마트/백화점과의 거리

In [99]:
mart = pd.read_csv('서울시 강남구 대규모점포 인허가 정보.csv', encoding = 'cp949')

In [100]:
mart2=mart[mart['영업상태명']=='영업/정상']
mart3=mart2[mart2['점포구분명']!='준대규모점포']
mart3=mart3[mart2['업태구분명']!='그 밖의 대규모점포']
mart4=mart3[mart3['좌표정보(X)'].notnull()]
mart5=mart4.drop_duplicates(['좌표정보(X)'])
mart6=mart5[['좌표정보(X)','좌표정보(Y)']]
mart6

          좌표정보(X)        좌표정보(Y)
3   201757.494099  446282.454467
9   203604.761652  447316.222786
26  202358.505687  447232.955698
27  205210.358779  445154.422252
28  203470.848439  447369.579852
29  204669.543367  443873.621189
30  205314.159889  445204.709310
31  205130.591679  445590.096838
32  205340.631122  445354.571117
39  204213.643237  444113.028211
46  203789.588128  446796.128300
61  205359.898727  445864.805913
64  205170.959717  445264.936337
70  203069.441212  447391.130408

In [101]:
import pandas as pd
import numpy as np
import pyproj
import folium

In [102]:
def project_array(coord, p1_type, p2_type):
    """
    좌표계 변환 함수
    - coord: x, y 좌표 정보가 담긴 NumPy Array
    - p1_type: 입력 좌표계 정보 ex) epsg:5179
    - p2_type: 출력 좌표계 정보 ex) epsg:4326
    """
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]

In [103]:
coord = np.array(mart6)

In [104]:
p1_type = "epsg:2097"
p2_type = "epsg:4326"

# project_array() 함수 실행
result = project_array(coord, p1_type, p2_type)

In [105]:
mart6['lat'] = result[:, 1]
mart6['lon'] = result[:, 0]
mart6['사업장명']=mart5['사업장명']
mart6['lat']=mart6['lat'].map(lambda x: x-0.0001)
mart6['lon']=mart6['lon'].map(lambda x: x+0.0029)
mart_dict=mart6[['사업장명','lat','lon']]
mart_dict

                   사업장명        lat         lon
3                  강남시장  37.518672  127.020679
9           갤러리아백화점(동관)  37.527981  127.041579
26          (주)현대백화점 본점  37.527234  127.027480
27          현대백화점 무역센터점  37.508495  127.059728
28          갤러리아백화점(서관)  37.528462  127.040065
29           롯데백화점(강남점)  37.496958  127.053604
30   파르나스몰(PARNAS MALL)  37.508948  127.060903
31           코엑스 호텔아케이드  37.512421  127.058829
32                코엑스 몰  37.510298  127.061203
39           (주)이마트 역삼점  37.499117  127.048450
46  SSG Food Market 백화점  37.523294  127.043668
61            롯데슈퍼 코엑스점  37.514895  127.061425
64     도심공항몰(CALT MALL)  37.509491  127.059284
70    GS THE FRESH 압구정점  37.528657  127.035523

In [106]:
train['mart_dict']=0
test['mart_dict']=0

In [107]:
for i in range(len(train)):
  distance=[]
  for j in range(len(mart_dict)):
    x1=train.iloc[i]['lat']
    y1=train.iloc[i]['lon']
    x2=mart_dict.iloc[j]['lat']
    y2=mart_dict.iloc[j]['lon']
    start = (x1,y1)
    goal = (x2,y2)
    r=haversine(start, goal)
    distance.append(r)
  train['mart_dict'][i]=round(np.min(distance),5)

In [108]:
for i in range(len(test)):
  distance=[]
  for j in range(len(mart_dict)):
    x1=test.iloc[i]['lat']
    y1=test.iloc[i]['lon']
    x2=mart_dict.iloc[j]['lat']
    y2=mart_dict.iloc[j]['lon']
    start = (x1,y1)
    goal = (x2,y2)
    r=haversine(start, goal)
    distance.append(r)
  test['mart_dict'][i]=round(np.min(distance),5)

In [109]:
train.to_csv('train_feature6.csv', index=False)
test.to_csv('test_feature6.csv', index=False)

### 트레인 feature 추가버전에서 인덱스, 시군구, 지번, 아파트이름, 거래일 column 제거

In [111]:
import pandas as pd

# CSV 파일로부터 데이터를 불러옴
df = pd.read_csv('./train_feature6.csv')

# 데이터프레임의 첫 5행을 표시함
df.head()

# 지정된 열을 제거함
df = df.drop(['index', 'sigungu', 'jibun', 'apt_name', 'transaction_day'], axis=1)

# 수정된 데이터프레임을 CSV 파일로 저장함
df.to_csv('./train_feature6.csv', index=False)

# CSV 파일로부터 테스트 데이터를 불러옴
df_test = pd.read_csv('./test_feature6.csv')

# 테스트 데이터에서 지정된 열을 제거함
df_test = df_test.drop(['sigungu', 'jibun', 'apt_name', 'transaction_day'], axis=1)

# 수정된 데이터프레임을 CSV 파일로 저장함
df_test.to_csv('./test_feature6.csv', index=False)

### XGBoost

In [116]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import xgboost as xgb

# 훈련 데이터를 불러옵니다
df_train = pd.read_csv('./train_feature6.csv')

# 데이터를 입력 특징(X)과 목표 변수(y)로 나눕니다
X = df_train.drop(['id', 'transaction_real_price'], axis=1)
y = df_train['transaction_real_price']

# 데이터를 훈련 세트와 검증 세트로 나눕니다
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# XGBoost Regressor 모델을 생성하고 훈련 데이터에 적합시킵니다
xgb_model = xgb.XGBRegressor(n_estimators=100, learning_rate=0.08, gamma=0, subsample=0.75, colsample_bytree=1, max_depth=7, random_state=42)
xgb_model.fit(X_train, y_train)

# 훈련된 모델을 사용해 검증 세트의 실제 거래 가격을 예측합니다
y_val_pred_xgb = xgb_model.predict(X_val)

# 예측의 평균 절대 오차(MAE)를 계산합니다
mae_xgb = mean_absolute_error(y_val, y_val_pred_xgb)

# 테스트 데이터를 불러오고 그 특징을 훈련 데이터와 일치하도록 재정렬합니다
df_test = pd.read_csv('./test_feature6.csv')
df_test_reordered = df_test[['id'] + X.columns.tolist()]

# 훈련된 모델을 사용해 테스트 데이터의 실제 거래 가격을 예측합니다
y_test_pred_xgb = xgb_model.predict(df_test_reordered.drop(['id'], axis=1))

# 예측된 가격을 테스트 데이터프레임에 추가합니다
df_test['transaction_real_price'] = y_test_pred_xgb

# 'id'로 데이터프레임을 정렬합니다
df_test_sorted = df_test.sort_values(by='id')

# 예측된 가격을 CSV 파일로 저장합니다
df_final_xgb = df_test_sorted[['id', 'transaction_real_price']]
df_final_xgb.to_csv('./submission0802xgb.csv', index=False)